@page "/"
@inject HttpClient Http

<PageTitle>Stock Market</PageTitle>

<h1>Stock Market</h1>

This is the stock market!

@if (stocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in stocks)
            {
                <tr>
                    <td>@stock.Symbol</td>
                    <td>@stock.CurrentPrice</td>
                    <td>@stock.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Stock[]? stocks;

    protected override async Task OnInitializedAsync()
    {
        stocks = await Http.GetFromJsonAsync<Stock[]>("api/Stock");
    }
}

